<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ndfdXMLBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://graphical.weather.gov/xml/SOAP_server/ndfdXMLserver.php"
                binding="basicHttpBinding" bindingConfiguration="ndfdXMLBinding"
                contract="CityService.ndfdXMLPortType" name="ndfdXMLPort" />
        </client>
    </system.serviceModel>
</configuration>