@{
    ViewBag.Title = "About";
}
<h2>About</h2>
<p>Welcome to the WeatherOrNot application!</p>
<p>This site is being developed as a platform for me to demonstrate my ability and experience
    as a software developer. It also serves as a platform to test various technologies.</p>
<p>The source code of this application is available <a href="https://github.com/jenkins1967/Weather">here.</a></p>
